/* --cultured: #f6f8f9ff;
--gainsboro: #d1dce3ff;
--shadow-blue: #6e87aaff;
--raisin-black: #26242bff;
--secondary: #aa4242ff; */
body {
  background-color: #26242b;
}

.App {
  text-align: center;
  color: #eff5ffff;
  width: 60%;
  margin: auto;
  background-color: #eff5ffff;
  box-shadow:  0 0 40px 0 #eff5ffff, inset  0 0 40px 0 #26242b;
  display: flex;
  flex-direction: column;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 10em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  -ms-border-radius: 10em;
  -o-border-radius: 10em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    border: 5px solid #aa4242;

}
}

.App-header {
  background-color: #eff5ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  box-shadow: inset  0 0 40px 0 #26242b;

}

.App-link {
  color: #61dafb;
}

article {
  border: 5px solid #e6ecef;
  background-color: #e6ecef;
  color: #83b6ff;
  padding: 2em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  min-height: 50vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
